openapi: 3.1.0
info:
  title: ODFL Bill of Lading Documents API
  summary: Electronic bill of lading creation for Old Dominion Freight Line shipments.
  description: The Old Dominion Freight Line Bill of Lading API submits electronic bills of lading to the ODFL billing system. The service generates shipping labels and BOL documents that can be printed and applied to freight, enabling shippers to programmatically create freight documentation as part of their shipping workflow.
  version: '3.1'
  contact:
    name: ODFL API Support
    email: api@odfl.com
    url: https://www.odfl.com/us/en/resources/shipping-api-integrations.html
servers:
- url: https://www.odfl.com/wsBOL/v3
  description: Old Dominion Freight Line Bill of Lading API
security:
- BasicAuth: []
tags:
- name: Documents
  description: Retrieve PDF shipping documents associated with ODFL PRO numbers.
paths:
  /documents/{proNumber}:
    get:
      tags:
      - Documents
      summary: Retrieve documents for a PRO number
      description: Returns the available PDF documents (bill of lading, delivery receipt) associated with the supplied ODFL PRO number.
      operationId: getDocumentsByPro
      parameters:
      - name: proNumber
        in: path
        required: true
        schema:
          type: string
        description: ODFL PRO number identifying the shipment.
      - name: documentType
        in: query
        required: false
        schema:
          type: string
          enum:
          - BOL
          - DELIVERY_RECEIPT
          - INVOICE
        description: Optional filter to retrieve a specific document type.
      responses:
        '200':
          description: PDF document(s) successfully returned.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResponse'
        '404':
          description: PRO number or document not found.
        '401':
          description: Authentication failed.
components:
  schemas:
    DocumentResponse:
      type: object
      properties:
        proNumber:
          type: string
        documents:
          type: array
          items:
            $ref: '#/components/schemas/Document'
    Document:
      type: object
      properties:
        type:
          type: string
        url:
          type: string
          format: uri
        contentBase64:
          type: string
          format: byte
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
externalDocs:
  description: ODFL Bill of Lading API Development Guide
  url: https://www.odfl.com/content/dam/odfl/us/en/documents/web-services/Bill%20of%20Lading%20API%20Development%20Guide.pdf
