openapi: 3.2.0
info:
  title: ODFL Bill of Lading Tracking API
  summary: Electronic bill of lading creation for Old Dominion Freight Line shipments.
  description: The Old Dominion Freight Line Bill of Lading API submits electronic bills of lading to the ODFL billing system. The service generates shipping labels and BOL documents that can be printed and applied to freight, enabling shippers to programmatically create freight documentation as part of their shipping workflow.
  version: '3.1'
  contact:
    name: ODFL API Support
    email: api@odfl.com
    url: https://www.odfl.com/us/en/resources/shipping-api-integrations.html
servers:
- url: https://www.odfl.com/wsBOL/v3
  description: Old Dominion Freight Line Bill of Lading API
security:
- BasicAuth: []
tags:
- name: Tracking
  description: Retrieve freight shipment status and movement events.
paths:
  /tracking/{proNumber}:
    get:
      tags:
      - Tracking
      summary: Get shipment tracking by PRO number
      description: Returns current status and history of tracking events for a given ODFL PRO number.
      operationId: getTrackingByPro
      parameters:
      - name: proNumber
        in: path
        required: true
        schema:
          type: string
        description: ODFL PRO number identifying the shipment.
      responses:
        '200':
          description: Tracking information successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackingResponse'
        '404':
          description: PRO number not found.
        '401':
          description: Authentication failed.
components:
  schemas:
    TrackingEvent:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: string
        location:
          type: string
        description:
          type: string
    TrackingResponse:
      type: object
      properties:
        proNumber:
          type: string
        status:
          type: string
        origin:
          type: string
        destination:
          type: string
        estimatedDelivery:
          type: string
          format: date
        events:
          type: array
          items:
            $ref: '#/components/schemas/TrackingEvent'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
externalDocs:
  description: ODFL Bill of Lading API Development Guide
  url: https://www.odfl.com/content/dam/odfl/us/en/documents/web-services/Bill%20of%20Lading%20API%20Development%20Guide.pdf
