openapi: 3.1.0
info:
  title: ODFL Bill of Lading Pickup API
  summary: Electronic bill of lading creation for Old Dominion Freight Line shipments.
  description: The Old Dominion Freight Line Bill of Lading API submits electronic bills of lading to the ODFL billing system. The service generates shipping labels and BOL documents that can be printed and applied to freight, enabling shippers to programmatically create freight documentation as part of their shipping workflow.
  version: '3.1'
  contact:
    name: ODFL API Support
    email: api@odfl.com
    url: https://www.odfl.com/us/en/resources/shipping-api-integrations.html
servers:
- url: https://www.odfl.com/wsBOL/v3
  description: Old Dominion Freight Line Bill of Lading API
security:
- BasicAuth: []
tags:
- name: Pickup
  description: Submit and manage freight pickup requests.
paths:
  /createPickup:
    post:
      tags:
      - Pickup
      summary: Create a pickup request
      description: Submits an electronic pickup request for one or more shipments and returns the assigned pickup number and PPIDs.
      operationId: createPickup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupRequest'
      responses:
        '200':
          description: Pickup request successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PickupResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Authentication failed.
components:
  schemas:
    PickupResponse:
      type: object
      properties:
        pickupNumber:
          type: string
        ppids:
          type: array
          items:
            type: string
    Location:
      type: object
      properties:
        name:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        contactName:
          type: string
        contactPhone:
          type: string
    PickupRequest:
      type: object
      properties:
        pickupLocation:
          $ref: '#/components/schemas/Location'
        readyTime:
          type: string
        closeTime:
          type: string
        shipments:
          type: array
          items:
            $ref: '#/components/schemas/Shipment'
        specialInstructions:
          type: string
    Shipment:
      type: object
      properties:
        consigneeZip:
          type: string
        weight:
          type: number
        pieces:
          type: integer
        hazmat:
          type: boolean
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
externalDocs:
  description: ODFL Bill of Lading API Development Guide
  url: https://www.odfl.com/content/dam/odfl/us/en/documents/web-services/Bill%20of%20Lading%20API%20Development%20Guide.pdf
